*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
header {
    width: 1512px;
    height: 159px;
    background-color: #373867;
}
header img {
    position: relative;
    top: 50px;
    left: 1230px;
    width: 206px;
    height: 42px;
}
#burguer-menú {
    position: relative;
    top: 0px;
    left: 40px;
    margin-top: -18px;
    width: 55px;
    height: 50px;
}
.menu-section {
    width: 427px;
    height: 1068px;
    background-color: #FFFFFF;
}
.menu-section h2 {
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #333;
}
.menu-section > .first-list li{
    position: relative;
    top: 30px;
    left: 10px;
    width: 370px;
    height: 67px;
    margin: 20px;
    padding: 10px;
    border: solid #333 1px;
    list-style: none;
    background-color: #51A884;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
.menu-section a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.menu-section > .contact-section {
    width: 370px;
    height: 409px;
    padding: 20px;
    margin: 30px;
    margin-top: 60px;
    background-color: #51A884;
}
.menu-section > .contact-section h3 {
    display: inline block;
    width: auto;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #FFFFFF;
}
.menu-section > .contact-section img {
    display: block;
    position: relative;
    right: 12px;
    bottom: 24px;
    width: 70px;
    height: 70px;
    margin-top: 35px;
}
.menu-section > .contact-section li {
    display: inline-block;
    position: relative;
    bottom: 305px;
    left: 50px;
    width: 295px;
    height: 100px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
}

.home-section { 
    width: 1512px;
    height: 471px;
    padding: 40px;
    background-color: #D9D9D9;
}
.home-section h2 {
    position: relative;
    bottom: 0px;
    left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
}
.home-section h3 {
    position: relative;
    bottom: 0px;
    left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    text-transform: capitalize;
}
.home-section p {
    position: relative;
    bottom: 0px;
    left: 5px;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}
.home-section img {
    display: inline-block;
    position: relative;
    left: 50px;
    width: 267px;
    height: 236px;
}
.home-section div {
    display: inline-block;
    width: 1034px;
    height: 378px;
    padding: 10px;
}
.info-section {
    display: inline-block;
    width: 1512px;
    height: 702px;
    background-color: #AACE9B;
}
.info-section img {
    display: inline-block;
    width: 109.93px;
    height: 110px;
}
.info-section p {
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 125px;
    width: 442px;
    height: 175px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}
.info-section h3 {
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 10px;
    width: 342px;
    height: 67px;
    padding-top: 15px;
    text-align: center;
    background-color: #88a47c;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}
.info-section div {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 80px;
    width: 720px;
    height: 285px;
}
#become-a-member {
    position: relative;
    top: -70px;
}
.form-section {
    width: 1512px;
    height: 515px;
    background-color: #35365C;
}
.form-section h2 {
    padding-top: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
}
.form-section input[type="text"], select {
    display: block;
    position: relative;
    top: 25px;
    left: 80px;
    padding: 5px;
    margin: 20px;
    width: 392px;
    height: 37px;
    color: grey;
}
.form-section textarea {
    position: relative;
    left: 600px;
    bottom: 200px;
    width: 745px;
    height: 174px;
}
.form-buttom {
    display: inline-block;
    position: relative;
    bottom: 110px;
    left: 20px;
    margin-right: 200px;
    width: 160px;
    height: 70px;
    text-align: center;
    border-radius: 15px;
    background-color: #49A37B;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: #333;
}
.form-buttom img {
    position: relative;
    right: 10px;
}
.history-section {
    width: 1512px;
    height: 364px;
    background-color: #AACE9B;
}
.history-section h2 {
    position: relative;
    top: 10px;
    left: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.history-section p {
    position: relative;
    top: 10px;
    left: 50px;
    width: 1369px;
    height: 236px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: justify;
    color: #FFFFFF;
}
.activities-section {
    width: 1512px;
    height: 360px;
    background-color: #D9D9D9
}
.activities-section ol {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.activities-section ul {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
.activities-section div {
    float: left;
    width: 378px;
}
.footer {
    width: 1512px;
    height: 133px;
    background-color: #AACE9B;
}
.footer p {
    position: relative;
    top: 50px;
    left: 20px;
    width: 765px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}
.footer img {
    position: relative;
    left: 1120px;
    bottom: 0px;
    margin-right: 45px;
    width: 71px;
    height: 71px;
}