<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css"/>"
        <link rel="stylesheet" type="text/css" href="../css/header.css"/>"
        <link rel="stylesheet" type="text/css" href="../css/login.css"/>"
        <link rel="stylesheet" type="text/css" href="../css/footer.css"/>"
    </head>
    <body>
        <header>
            <div class="header-div"> 
                <div id="menu-boton" class="header-son">
                    <img src="../../assets/images/burger.png" alt="menuBoton">
                </div>
                <div class="header-son">
                    <h1><img src="../../assets/images/logoMR.jpg" alt="MegaRocket"></h1>
                </div> 
            </div>
        </header>
        <main>
            <div class="sign-in">
                <div class="sign-in-item">
                    <h2>Sign in</h2>
                </div>
                <div class="sign-in-item">
                    <form action="nose.php" method="post">
                        <input type="text" placeholder="email">
                        <input type="password" placeholder="password">
                        <a href="">Have you forgotten the password?</a>
                        <label>
                            <div class="remember-me-container">
                                <input type="checkbox" name="remember-me"> Remember me
                            </div>
                        </label>
                    </form>
                        <h3>Don't have an account?</h3>
                        <a href="">Click here to become a member</a>
                        <button id="continue-button">Continue</button>
                </div>    
            </div>
        </main>
        <footer>
            <div class="footer-section">
                <div class="footer-item">
                    <p>
                        Copyright © 2023 MegaRocket SA. All rights reserved.
                    </p>
                </div>
                <div class="footer-item">
                    <a href=""><img src="../../assets/images/linkedin.png" alt="linkedin"></a>
                    <a href=""><img src="../../assets/images/facebook.png" alt="facebook"></a>
                    <a href=""><img src="../../assets/images/instagram.png" alt="instagram"></a>
                </div>
            </div>
        </footer>  
    </body>
</html>