<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css"/>"
            <link rel="stylesheet" type="text/css" href="../css/header.css"/>"
            <link rel="stylesheet" type="text/css" href="../css/sign-up.css"/>"
            <link rel="stylesheet" type="text/css" href="../css/footer.css"/>"
    </head>
    <body>
        <header>
            <div class="header-div"> 
                <div id="menu-boton" class="header-son">
                    <img src="../../assets/images/burger.png" alt="menuBoton">
                </div>
                <div class="header-son">
                    <h1><img src="../../assets/images/logoMR.jpg" alt="MegaRocket"></h1>
                </div> 
            </div>
        </header>
        <main>
            <div class="form-class">
                <form action="nose.php" method="post">
                    <div class="form-son"><h2>Register</h2></div>
                    <div class="form-son">
                        <label for="name">Name</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="last-name">Last Name</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="id">ID</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="birthdate">Birthdate</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="phone">Phone</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="address">Address</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="location">Location</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="postcode">Postcode</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="email">E-mail</label>
                        <input type="text">
                    </div>
                    <div class="form-son">
                        <label for="password">Password</label>
                        <input type="password">
                    </div>
                    <div class="form-son">
                        <label for="repeat-password">Repeat Password</label>
                        <input type="password">
                    </div>    
                </form>
                <button>Register</button>
            </div>     
        </main>
        <footer>
            <div class="footer-section">
                <div class="footer-item">
                    <p>
                        Copyright © 2023 MegaRocket SA. All rights reserved.
                    </p>
                </div>
                <div class="footer-item">
                    <a href=""><img src="../../assets/images/linkedin.png" alt="linkedin"></a>
                    <a href=""><img src="../../assets/images/facebook.png" alt="facebook"></a>
                    <a href=""><img src="../../assets/images/instagram.png" alt="instagram"></a>
                </div>
            </div>
        </footer>
    </body>
    </html>